# Copyright (c) 2013 Riverbed Technology, Inc.
# This software is licensed under the terms and conditions of the MIT License set
# forth at https://github.com/riverbed/flyscript-vm-config/blob/master/LICENSE
# ("License").  This software is distributed "AS IS" as set forth in the License.

<VirtualHost *:80>
	#DocumentRoot /usr/local/share/wsgi/mysite/media
	Alias /static /flyscript/flyscript_portal/static
	WSGIScriptAlias / /flyscript/wsgi/flyscript_portal.wsgi
	WSGIDaemonProcess flyscript_portal processes=2
	WSGIProcessGroup flyscript_portal
  #WSGIPythonPath /flyscript/wsgi:/flyscript/flyscript_portal
</VirtualHost>
