# Copyright (c) 2013 Riverbed Technology, Inc.
# This software is licensed under the terms and conditions of the MIT License set
# forth at https://github.com/riverbed/flyscript-vm-config/blob/master/LICENSE
# ("License").  This software is distributed "AS IS" as set forth in the License.

WSGISocketPrefix /var/run/wsgi
WSGIPythonHome ${virtualenv_deploy}

<VirtualHost *:80>
    WSGIPassAuthorization On
	Alias /static ${project_root_deploy}/${project_name}/static
	WSGIScriptAlias / ${project_root_deploy}/wsgi/flyscript_portal.wsgi
	WSGIDaemonProcess ${project_name} processes=2
	WSGIProcessGroup ${project_name}
</VirtualHost>
