# Copyright (c) 2013 Riverbed Technology, Inc.
# This software is licensed under the terms and conditions of the MIT License set
# forth at https://github.com/riverbed/flyscript-vm-config/blob/master/LICENSE
# ("License").  This software is distributed "AS IS" as set forth in the License.

WSGISocketPrefix /var/run/wsgi
WSGIPythonHome {{ virtualenv_stage }}

<VirtualHost *:80>
    WSGIPassAuthorization On
    Alias /static {{ project_root_stage }}/{{ project_name }}/static
    WSGIScriptAlias / {{ project_root_stage }}/wsgi/steelscript_appfwk.wsgi
    WSGIDaemonProcess {{ project_name }} processes=2
    WSGIProcessGroup {{ project_name }}
</VirtualHost>
